.container {
  height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: 55px 1fr 50px;
  grid-template-columns: 150px 1fr 45px;
}

.header {
  background-color: lightskyblue;
  grid-area: 1/1/2/4;
}

.menu {
  background-color: dodgerblue;
  grid-area: 2/1/3/2;
}

.sidebar {
  background-color: mediumseagreen;
  grid-area: 2/3/3/4;
}
.content {
  background-color: ivory;
  grid-area: 2/2/3/3;
}
.footer {
  background-color: royalblue;
  grid-area: 3/1/4/4;
}
